@import "./typography.css";

body{
    font-family: "Cheltenham Std", serif;
    background-color: #111111;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
    overflow: hidden;
}
.innerLayout{
    width: 1224px;
}
@media only screen and (max-width: 1264px) {
    .innerLayout{
        width: 100vw;
        padding: 0 60px;

    }
}

a{
    color: #ffffff;
    border-bottom: 1px solid #7E7E7E;
    padding-bottom: 1px;
    text-decoration: none;
}
a:hover{
    color: #7E7E7E;
}

.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}

.justify-space-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}
.align-start{
    align-items: start;
}


.yellow-header{
    color: #ffcc1a;
    font-family: "HU Iceland", serif;
}

.big-header{
    font-family: "Cheltenham Std Bold Cond It", serif;
    font-size: 80px;
    line-height: 88px;
    letter-spacing: -0.02em;
}

.clip-circle {
    object-fit: cover;
    width: 688px;
    height: 688px;
    border-radius: 50%;
}