@import "./typography.css";

body{
    font-family: "Cheltenham Std", serif;
    background-color: #111111;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
    /*overflow: hidden;*/
    width: 100%;
}
.innerLayout{
    width: 1224px;
}
@media only screen and (max-width: 1264px) {
    .innerLayout{
        width: 100vw;
        padding: 0 60px;

    }
}

a{
    color: #ffffff;
    border-bottom: 1px solid #7E7E7E;
    padding-bottom: 1px;
    text-decoration: none;
}
a:hover{
    color: #7E7E7E;
}

.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}

.justify-space-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}
.align-start{
    align-items: start;
}


.yellow-header{
    color: #ffcc1a;
    font-family: "HU Iceland", serif;
    border:none;
}

.big-header{
    font-family: "Cheltenham Std Bold Cond It", serif;
    font-size: 80px;
    line-height: 88px;
    letter-spacing: -0.02em;
}

.clip-circle {
    object-fit: cover;
    width: 688px;
    height: 688px;
    border-radius: 50%;
}
footer{
    margin-bottom: 264px;
}
.footer{
    font-family: "Cheltenham Std", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 32px;
    /* identical to box height, or 100% */

    letter-spacing: -0.01em;

    color: #D7D7D7;
    margin: 70px 0 224px 0;
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-link{
    cursor: pointer;
    color:inherit;
}
.social-link-container{
    width:176px;
    display: flex;
    justify-content: space-between;
}
.social-link svg{
    fill: #707070;
    transition: all 0.2s;
}
.social-link a{
    border-bottom: none;
}
.social-link svg:hover{
    cursor: pointer;
    fill: white;
}
.read-more-link{
    font-family: "HU Iceland", serif;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    letter-spacing: -0.03em;
}
.yellow-header:hover{
    color: #ffcc1a;
    cursor:pointer;
    border:none;
}