.yellow-header-container{
	display: flex;
}

.reading-length{
	margin-left: 12px;
	color: #797979;
	font-family: "HU Iceland", sans-serif;
}

.plan-header-container{
	display: flex;
	justify-content: space-between;
}
.plan-header{
	width:596px;
	font-family: "Cheltenham Std Bold Cond It", serif;
    font-size: 80px;
    line-height: 88px;
}
.plan-description{
	width:500px;
	font-family: "Cheltenham Std Book";
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: -0.01em;
	text-align: left;
	color: #CCCCCC;
}
.plan-header-image{
	background-image: url("../images/placeholder.jpg");
	height:600px;
	background-size: cover;
	background-position: center center;
  	background-attachment: fixed;
	width:100vw;
}
.plan-container{
	width: 1224px;
	display: flex;
	margin-top: 152px;
	justify-content: center;
}
.plan-text-container{
	width:808px
}
.plan-text-header{
	font-family: "Cheltenham Std Bold Cond It", serif;
	font-style: italic;
	font-weight: bold;
	font-size: 64px;
	line-height: 64px;
	/* or 100% */

	letter-spacing: -0.02em;
	margin-bottom: 24px;
}
.plan-text{
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 32px;
	/* or 160% */
	letter-spacing: -0.01em;
	color: #CCCCCC;
}
.plan-menu-container{
	font-family: "Cheltenham Std Book";
	width:208px;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 170%;
	/* or 31px */
	letter-spacing: -0.04em;
	color:#888888;
}
.plan-menu-item{

}
.selected-menu-item{
	color:white;
}
.spacer{
	height:130px;
}
.two-column-container{
	display: flex;
	flex-direction: row;
}
.two-columns-column{
	width:50%;
}
.pros-cons{
	line-height: 40px
}
#moresheep{
	background-image: url("../images/sheep.jpeg");
}
.plan-image{
	height:600px;
	background-size: cover;
	background-position: center center;
  	background-attachment: fixed;
	width:100vw;
}
.link{

}
.download{
	margin-top: 60px;
	font-family: "HU Iceland", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 32px;
	/* identical to box height, or 160% */
	letter-spacing: -0.01em;
}
.download-line{
	text-decoration: none !important;
	border-bottom:1px solid #FFCC1A;
}
.download-line:hover{
	cursor:pointer;
}