@font-face {
    font-family: "Cheltenham Std";
    src: url("../fonts/CheltenhamStdBook.otf");
}
@font-face {
    font-family: "Cheltenham Std Bold Cond It";
    src: url("../fonts/CheltenhamStdBoldCondIt.otf");
}
@font-face {
    font-family: "HU Iceland";
    src: url("../fonts/HuIceland.otf");
}